################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore Visual Studio files
/.vs

# Ignore all binary output folders
**/obj/
**/bin/
**/node_modules/

# Ignore personal files
**/*.user